body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sel{
    font-size: 30px;
    margin-left: 15px;
    margin-top: 50px;
    border-radius: 5px;
    border-width: 0ch;
    background-color: #357ec7;
    color: white;
    height: 65px;
}








/* DOWNLOAD BUTTON */











/* CLASS  10 SUBJECTS*/
#SUB10{
    height: 90px;
    width: 350px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 5px 9px 5px rgba(0, 0, 0, 0.048);
    color: #357ec7;
    margin-top: 50PX;
    padding-top: 7PX;
    font-size: 30px;
    padding-top: 50px;
}

#SUB10VISIBLE{
    display: none;
}



